.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    text-align:center;
    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: auto;
    padding-right:auto;
    justify-content: center;
    display: flex;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

.select {
    text-align: center;
    width:100%;
    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: auto;
    padding-right:auto
}

.cardscroll {
    text-align: center;
    width: 40%;
    padding-left: auto;
    padding-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
    height: auto;
    width: auto;
    left: auto;
    top: auto;
    
}

form {
  text-align: center;
    width: 50%;
    padding-left: auto;
    padding-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto;
    height: auto;
    width: auto;
    left: auto;
    top: auto;
}

option {
  text-align: center;
  width: auto;
}

p {
  text-align: center;
  width: auto;
  position:absolute;
  bottom:0;
  left:5%;
  
  }

H6 {
  text-align: center;
  width: auto;
  }

button {
  width:auto;
  text-align: center;
}

.prev {
  float: left;
}

.next {
  float: right;
}